<template>
    <div>
        <div class="container">
            <div class="header_text p_header is_margin_top">
                นำเข้าข้อมูลใบคำขอกรมธรรม์
            </div>
            <div class="is_margin_top">
                <StatsCard dataBackgroundColor="green">
                    <div slot="header">
                        <md-icon>exit_to_app</md-icon>
                    </div>
                    <div slot="content">
                        <div class="content_header">
                            นำเข้าข้อมูล
                        </div>
                        <div class="is_margin_top">
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-size-50 md-xsmall-size-100">
                                    <md-field>
                                        <label>File</label>
                                        <md-file />
                                    </md-field>
                                </div>
                                <div class="md-layout-item md-size-50 md-xsmall-size-100">
                                    <md-button href="#" class="md-success" dataBackgroundColor="green">อัพโหลด</md-button>
                                    (ไฟล์นามสกุล .xlsx เท่านั้น)
                                </div>
                            </div>
                            <div class="md_layout md-gutter">
                                <div class="md-layout-item md-size-50 md-xsmall-size-100">
                                    <div class="data_wrapper">
                                        <table class="data_wrapper">
                                            <tbody>
                                                <tr>
                                                    <td class="text_left">ข้อมูลทั้งหมด</td>
                                                    <td class="amount">1000</td>
                                                    <td class="unit">ใบ</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="md_layout md-gutter flex_item">
                                <div class="md-layout-item md-size-50 md-xsmall-size-100">
                                    <table class="data_wrapper">
                                        <tbody>
                                            <tr>
                                                <td class="text_left">ข้อมูลสามารถนำเข้าได้</td>
                                                <td class="amount success_color">998</td>
                                                <td class="unit">ใบ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="md-layout-item md-size-50 md-xsmall-size-100">
                                    <table class="data_wrapper">
                                        <tbody>
                                            <tr>
                                                <td class="text_left">ข้อมูลทั้งหมด</td>
                                                <td class="amount error_color">2</td>
                                                <td class="unit">ใบ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="md_layout md-gutter flex_item">
                                 <div class="md-layout-item md--size-50 md-xsmall-size-100">
                                     <div class="error_color">
                                        พบข้อมูลผิดพลาดไม่สามารถนำเข้าข้อมูลในลำดับถัดไปได้
                                     </div>
                                 </div>
                                 <div class="md-layout-item md-size-50 justi_end md-xsmall-size-100">
                                      <md-button href="#" class="is_margin_right" disabled>บันทึกข้อมูล</md-button>
                                      <md-button href="#" class="" disabled>นำออกข้อมูล</md-button>
                                 </div>
                            </div>
                        </div>
                    </div>
                </StatsCard>
                <StatsCard dataBackgroundColor="green">
                    <div slot="header">
                        <md-icon>assignment</md-icon>
                    </div>
                    <div slot="content">
                        <div class="content_header">
                            ข้อมูลไม่สามารถนำเข้าได้
                        </div>
                         <div class="is_margin_top">
                             <div class="md-layout md-gutter">
                                <div class="md-layout-item md-size-50 md-xsmall-size-100 block_item text_left">
                                    <p><span>แถวที่ </span><span class="error_color">9 </span><span>ข้อมูล ชื่อ(ผู้เอาประกัน), ยี่ห้อ, รุ่น</span></p>
                                    <p><span>แถวที่ </span><span class="error_color">858 </span><span>ข้อมูล ชื่อ(ผู้เอาประกัน), ยี่ห้อ, รุ่น</span></p>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div slot="footer">

                    </div>
                </StatsCard>
            </div>
        </div>
    </div>
</template>

<script>
import StatsCard from "@/components/Cards/StatsCard.vue";

export default {
    components:{
        StatsCard
    }
}
</script>

<style>
    .md-layout-item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .content_header{
        text-align: left;
        font-size: 20px;
        margin-top:30px;
    }
    .data_wrapper{
        width: 100%;
        display: table;
        table-layout: fixed;
    }
    .amount{
        text-align: right;
    }
    .amount_complete{
        color:mediumseagreen;
    }
    .amount_error{
        color:firebrick;
    }
    .flex_item{
        display: flex;
        flex-wrap: wrap;
    }
    .unit{
        text-align: center;
    }
</style>
