<template>
    <div class="container">
        <div class="card_box">
            <div class="card card_item">
                <div class="card_header">
                    <div class="card_header_item">
                        <p class="p_header is_white is_margin_bot">พาราไดซ์ โทเคน เซอร์วิส</p>
                        <p class="p_description is_white">Online Broker Insurance</p>
                    </div>
                </div>
                <div class="card_body">
                    <div class="detail_text">
                        Made Fast, Simple and Yours.
                    </div>
                    <div class="user_login_section">
                        <div class="username_box">
                            <div class="icon">
                                 <md-icon class="md-size-2x">face</md-icon>
                            </div>
                            <div class="input">
                                <md-field>
                                    <label>ชื่อผู้ใช้งาน</label>
                                    <md-input></md-input>
                                </md-field>
                            </div>
                        </div>
                        <div class="password_box">
                            <div class="icon">
                                <md-icon class="md-size-2x">https</md-icon>
                            </div>
                            <div class="input">
                                <md-field>
                                    <label>รหัสผ่าน</label>
                                    <md-input></md-input>
                                </md-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card_footer">
                    <a href="#" @click="authentication">เข้าสู่ระบบ</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    methods: {
        authentication() {
            this.$store.dispatch("authentication/authen", true)
        }
    }
}
</script>

<style scoped>
    .container{
        height: inherit;
    }
    .card_box{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .card_item{
        width: 350px;
        height: 500px;
        display: flex;
        flex-direction: column;
        background: white;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 10px;
    }
    .card_header{
        margin-top:-30px;
        width: 100%;
        height: 200px;
        padding: 0 20px; 
    }
    .card_header_item{
        background: #2ecc71;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .detail_text{
        text-align: center;
        margin-top: 30px;
        color: dimgrey;
    }
    .user_login_section{
        margin-top: 20px;
    }
    .username_box, .password_box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .icon{
        margin-right: 10px;
    }
    .card_footer{
        margin-top: 20px;
        text-align: center;
    }

</style>
