<template>
    <div>
        <div class="container">
            <div class="header_text p_header is_margin_top">
                ค้นหาใบคำขอกรมธรรม์
            </div>
            <div class="search_section is_margin_top">
                <StatsCard dataBackgroundColor="green">
                    <div slot="header">
                        <md-icon>search</md-icon>
                    </div>
                    <div slot="content">
                        <div class="content_header">
                            ค้นหาข้อมูลใบคำขอกรมธรรม์
                        </div>
                        <div class="md-layout md-gutter is_margin_top">
                            <div class="md-layout-item">
                                <p class="no_margin no_wrap is_margin_right">เลขที่ใบคำขอ</p>
                                 <md-field>
                                    <label>เลขที่ใบคำขอ</label>
                                    <md-input></md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item">
                                <md-field>
                                    <label for="ผู้เอาประกัน">ผู้เอาประกัน</label>
                                    <md-select name="ผู้เอาประกัน" id="person" md-dense>
                                        <md-option value="Mr">Mr</md-option>
                                        <md-option value="Ms">Ms</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                            <div class="md-layout-item">
                                 <md-field>
                                    <label>ชื่อนามสกุล</label>
                                    <md-input></md-input>
                                </md-field>
                            </div>
                        </div>
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item">
                                <p class="no_margin no_wrap is_margin_right">วันที่เริ่มนำเข้า</p>
                                <md-datepicker v-model="startDate">
                                    <label>Select date</label>
                                </md-datepicker>
                            </div>
                            <div class="md-layout-item">
                                <p class="no_margin no_wrap is_margin_right">วันที่สิ้นสุดนำเข้า</p>
                                <md-datepicker mdActive v-model="endDate">
                                    <label>Select date</label>
                                </md-datepicker>
                            </div>
                        </div>
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item">
                                <p class="no_margin no_wrap is_margin_right">ยี่ห้อ</p>
                                <md-field>
                                    <label for="ยี่ห้อ">ยี่ห้อ</label>
                                    <md-select name="ยี่ห้อ" id="carModel" md-dense>
                                        <md-option value="Mr">A400</md-option>
                                        <md-option value="Ms">A200</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                            <div class="md-layout-item">
                                <p class="no_margin no_wrap is_margin_right">รุ่นรถยนต์</p>
                                <md-field>
                                    <label for="รุ่นรถยนต์">รุ่นรถยนต์</label>
                                    <md-select name="รุ่นรถยนต์" id="carType" md-dense>
                                        <md-option value="Mr">Demon 125B</md-option>
                                        <md-option value="Ms">Demon 126B</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                        </div>
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item">
                                <p class="no_margin no_wrap is_margin_right">ทะเบียนรถยนต์</p>
                                 <md-field>
                                    <label>ทะเบียนรถยนต์</label>
                                    <md-input></md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item">
                                <p class="no_margin no_wrap is_margin_right">เลขตัวถัง</p>
                                 <md-field>
                                    <label>เลขตัวถัง</label>
                                    <md-input></md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item">
                                <md-button href="#" class="md-success" dataBackgroundColor="green">ค้นหา</md-button>
                            </div>
                        </div>
                                                  
                    </div>
                    <div slot="footer">
                    </div>
                </StatsCard>
            </div>
            <div class="content_section is_margin_top">
                <TablePaper />
            </div>
        </div>
    </div>
</template>

<script>
import StatsCard from "@/components/Cards/StatsCard.vue";
import TablePaper from "@/components/Tables/TablePaper.vue";

export default {
    components: {
        StatsCard,
        TablePaper
    },
    data() {
        return {
            startDate: null,
            endDate: null,
            perPage: 'ต่อหน้า'
        }
    }
}
</script>

<style scoped>
    .container{
        display: block;
    }
    .md-layout-item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .auto_flex{ 
        flex: auto;
    }
    .md-gutter{
        padding-top: 10px;
    }
    .content_header{
        text-align: left;
        font-size: 20px;
        margin-top:30px;
    }
    .md-success{
        margin-right: 10px;
    }
    .bottom_section{
        display: block;
    }
    .md-layout-item{
        width: 300px;
    }
    .tb_footer{
        display: flex !important;
        justify-content: space-between;
        width: 100%;
    }


</style>
