.p_header{
    font-size: 24px;
}
.p_description{
    font-size: 16px;
}
.is_margin_top{
    margin-top: 20px;
}
.is_margin_left{
    margin-left: 20px;
}
.is_margin_right{
    margin-right: 20px !important;
}
.is_margin_bot{
    margin-bottom: 20px;
}
.is_white{
    color: white;
}
.no_padding{
    padding: 0
}
.no_margin{
    margin: 0
}
.md-datepicker-header{
    background: deepskyblue !important;
}
.success_color{
    color: lime;
}
.error_color{
    color: red;
}
.justi_end{
    justify-content: flex-end !important;
}
.text_left{
    text-align: left;
}
.fix_width{
    width: 1px;
    white-space: nowrap;
}
.block_item{
    display: block !important;
}

.container{
    display: block !important;
}
.no_wrap{
    white-space: nowrap;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.flex_row{
    display: flex;
    flex-direction: row;
}
.flex_wrap{
    flex-wrap: wrap;
}
.align_item_left{
    align-items: flex-start !important;
}

/* use at ImportPaper file line 62 */
.importExportTable table{
    text-align: center;
}

.importExportTable .md-table-head-container{
    text-align: center;
}

.importExportTable .md-table-head-label{
    padding: 0
}

.importExportTable .md-table-cell{
    text-align: center !important;

}

.importExportTable .md-table-cell-container{
    display: block !important;
    text-align: center !important;
}

/* end Import Paper */