<template>
  <div class="full_height"> 
    <router-view></router-view>
  </div>
</template>

<script>

import "./assets/custom.css";
import { mapState } from "vuex";

export default {
  data() {
    return {
      authenticated: false,
    }
  },
  mounted() {
      if(!this.authentication) {
          this.$router.replace({ path: "/login" });
      }
  },
  computed: mapState({
    authentication: state => state.authentication.authenStatus
  }),
  watch: {
    authentication(old, newVal){
      if(this.authentication){
        this.$router.replace({ path: "/dashboard" });
      }
    }
  }
};
</script>

<style>
  .full_height{
    height: 100%;
  }
</style>

