<template>
  <div class="wrapper" :class="{'nav-open': $sidebar.showSidebar}">
    <notifications></notifications>

    <side-bar>
      <mobile-menu slot="content"></mobile-menu>
      <sidebar-link to="/dashboard">
        <md-icon>dashboard</md-icon>
        <p>หน้าแรก</p>
      </sidebar-link>
      <sidebar-link to="/user">
        <md-icon>person</md-icon>
        <p>ใบคำขอกรมธรรม์</p>
      </sidebar-link>
      <ul class="subMenu">
        <sidebar-link to="/importPaper">
          <md-icon>person</md-icon>
          <p>นำเข้าข้อมูลใบคำขอกธ.</p>
        </sidebar-link>
        <sidebar-link to="/exportPaper">
          <md-icon>person</md-icon>
          <p>นำออกข้อมูลใบคำขอกธ.</p>
        </sidebar-link>
        <sidebar-link to="/searchPaper">
          <md-icon>person</md-icon>
          <p>ค้นหาใบคำขอกรมธรรม์.</p>
        </sidebar-link>
      </ul>
      <sidebar-link to="/table">
        <md-icon>content_paste</md-icon>
        <p>กรมธรรม์</p>
      </sidebar-link>
      <sidebar-link to="/typography">
        <md-icon>library_books</md-icon>
        <p>ต่ออายุ</p>
      </sidebar-link>
      <sidebar-link to="/icons">
        <md-icon>bubble_chart</md-icon>
        <p>สลักหลัง</p>
      </sidebar-link>
      <sidebar-link to="/maps">
        <md-icon>location_on</md-icon>
        <p>สินไหม</p>
      </sidebar-link>
      <sidebar-link to="/notifications">
        <md-icon>notifications</md-icon>
        <p>ติดตามการทำงาน</p>
      </sidebar-link>
      <sidebar-link to="/upgrade">
        <md-icon>unarchive</md-icon>
        <p>ตั้งค่าระบบ</p>
      </sidebar-link>
      <sidebar-link to="/upgrade">
        <md-icon>unarchive</md-icon>
        <p>ผู้ใช้งาน</p>
      </sidebar-link>
    </side-bar>

    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content>

      </dashboard-content>

      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<style lang="scss">
</style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "@/pages/Layout/MobileMenu.vue";

export default {
  components: {
    TopNavbar,
    DashboardContent,
    ContentFooter,
    MobileMenu
  }
};
</script>

<style scoped>
  .subMenu{
    padding-left: 15px !important;
  }
</style>

